
body {
  overflow-x: hidden;
}

.header_navbar {
  position: fixed;
  top: 0;
  /* max-width: 1500;Ensure it spans the full width */
  z-index: 1000; /* Ensure it stays on top of other elements */
  background-image: url('../assets/background.jpg'); /* Optional: semi-transparent background */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 1px solid grey;
  width: 100%; /* Adjust width to be responsive */
   /* Limit to a max size */
  
  /* overflow-x: hidden; */
}


/* Add a black overlay using the ::before pseudo-element */
.job_header::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: -1; /* Push the overlay behind the content */
}

.header_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
}

.header_logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.menu ul li a:hover {
  text-decoration: underline;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header_btn {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #0073e6;
  background-color: #eff0f0;
}

.header_btn_signup {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(76, 76, 242);
  color:white;
}

.header_adobe_icon {
  margin-left: 15px;
  font-size: 16px;
  color: white;
}

/* Styles for the "Creative Jobs" section */
.header-content {
  text-align: center;
  margin-top: 80px;
  top: 0;
  width: 100%;
   /* Ensure it spans the full width */
  z-index: 1; /* Ensure it stays on top of other elements */
  background-image: url('../assets/background.jpg'); /* Optional: semi-transparent background */
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px; 
  color:white;
}

.header-title {
  font-size: 40px;
  font-weight: bold;
}

.header-subtitle {
  font-size: 18px;
  margin-top: 10px;
}