.job-listings {
  padding: 20px;
  flex-grow: 1;
  background-color: white;
  width: 100%; /* Adjust width to be responsive */
  max-width: 1460px; /* Limit to a max size */
  overflow-x: hidden;
}

.job-listings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 60px;
  color: rgb(89, 86, 86);
}

.search-bar input {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  margin-right: 90px;
  border: 1px solid #eaeaea;
  font-size: 16px;
  background-color: #f6f0f0;
  border-radius: 20px;
}

.job-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  color: rgb(15, 15, 15);
  margin-left: 60px;
  
  

}

.job-card {
  padding: 15px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  width: 340px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.job-card:hover {
  background-color: white; /* Light background color when hovered */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow on hover */
  transform: translateY(-5px); /* Lift the card a bit */
}

.job-company {
  display: flex;
  align-items: center; /* Align logo and company name vertically */
  margin-bottom: 10px;
}

.company-logo {
  width: 40px; /* Set logo width */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Space between logo and company name */
}

.job-location {
  display: flex;
  align-items: center; /* Align icon and text vertically */
  margin-bottom: 10px;
   font-size: 13px;
}

.job-title {
  font-size: 14px;
  font-weight:bold;
  margin: 10px 0;
 
}

.job-description {
  font-size: 13px;
  margin-bottom: 10px;
}

.job-days-ago {
  color: #747070;
  font-size: 12px;
}
