body
{
margin: 0;
}

.rs-container
{
  
 background-position: center;
 background-size: cover;
height: 100vh;
 background-image: url("./pexels-asadphoto-457881.jpg");
position: relative;
 
}

.rs-container form
{
  display: flex;
flex-direction: column;
padding: 20px;
border-radius: 10px;
background-color: white;

gap: 10px;
position: absolute;
left: 60%;
top: 2%;
height: 90%;
}

.rs-container form h2
{
  margin: 0;
  font-size: 35px;
}

.rs-container form button
{
  background-color: rgb(0, 132, 214);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  width: 80px;
  position: relative;
  left: 84%;
}

.rs-container form span
{
  color: blue;
}

.rs-container form h4
{
  margin: 0;
}

.label-01
{
  margin-top: 20px;
}